{% extends "layout.html" %}

{% block body %}

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Sport</th>
    <th>Delete</th>
    <th>Edit</th>
  </tr>

  {% for registrant in registrants %}
  <tr>
    <td>{{ registrant[0] }}</td>
    <td>{{ registrant[1] }}</td>
    <td>{{ registrant[2] }}</td>
    <td>
      <form action="/delete" method="post">
        <input name="id" type="hidden" value="{{ registrant[0] }}" />
        <button>x</button>
      </form>
    </td>
    <td>
      <form action="/edit" method="post">
        <input name="id" type="hidden" value="{{ registrant[0] }}" />
        <button>...</button>
      </form>
    </td>
  </tr>

  {% endfor %}
</table>
{% endblock %}
